/*Tipografias añadidas*/
@import url(http://fonts.googleapis.com/css?family=Merriweather);

@font-face
{
	font-family: 'Merriweather';
	src: url('../fuentes/Merriweather/merriweather-webfont.eot');
	src: url('../fuentes/Merriweather/merriweather-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fuentes/Merriweather/merriweather-webfont.woff') format('woff'),
		 url('../fuentes/Merriweather/merriweather-webfont.ttf') format('truetype'),
		 url('../fuentes/Merriweather/merriweather-webfont.svg#Merriweather') format('svg');
		 font-style: normal;
}

/*Fin de las tipografias*/

*
{
	border:0;
	margin: 0;
	padding: 0;
}

a
{
	color: #FFFFFF;
	text-decoration: none;
}

blockquote p
{
	font-size: 2em;
	margin-right: 5%;
	padding-bottom: 2%;

}

body, html, section
{
	height: 100%;
}


footer 
{
	background-color: rgba(0,0,0,0.8); 
	color: #FFFFFF;
	font-size: 20px;
	/*margin-top: 3%;
	padding-left: 1%;
	padding-right:1%; */
	position: static;
	text-align: left;
	width: 100%;
}

footer article
{
	display: inline-block;
	width: 45%;
}

footer section
{
	text-align: center;
	margin-top: 2.5%;
	width: 100%;
}

hr
{	
	border: solid 2px #6E6E6E;
}

/*Este código se añadió para poder mover el video*/
legend 
{
	color: darkblue;
	font-size: 3em;
	font-weight: bold;
	text-shadow: .1em .1em .5em #FFF;
}

#academia 
{
	padding-top: 2%;
	font-size: 3em;
}

#contacto
{
	border-radius: 1em;
	-ms-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-boxsizing:border-box;
	box-sizing:border-box;
	display: inline-block;
	margin-left: 4%;
	margin-top: 7%;
	min-height: 500px;
	width: 90%;
}

/*CSS para contacto esto es lo que añadí para la seccion de contacto*/
#contacto1
{
	display: inline-block;
	color: #FFFFFF;
	font-size: 80px;
	margin-left: 5%;
	margin-top: 3%;
}

#contacto2
{
	background-color: rgba(0,0,0,0.8);
	color: #FFFFFF;
	display: inline-block;
	font-size: 80px;
	margin-left: 4%;
	margin-top: 2%;
	padding-left: 1%;
	padding-right:1%;
}

#contenedor4
{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	display: inline-block;
	font-size: 50px;
	margin-left: 3%;
	margin-top: 5%;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center;
	width: 90%;	
}

/*Fin de contacto*/

#creative
{
	font-size: 1.2em;
	margin-right: 3%;
	padding-bottom: 1%;
	padding-top: 10%;
}

#curso
{
	font-size: 50px;
}

#enlace1, #enlace2, #enlace3, #enlace4, #enlace5, #enlace6
{
	padding: 0%;
	font-weight: lighter;
}

#flecha
{
	bottom: 3%;
	position: relative;
	margin-top: 10%;	
	width: 10%;
	z-index: 10;
}

#ilogo /*Estilo para el logo de Bhacking en la sección quienes somos*/
{
	display: inline-block;
	margin-left: 68%;
	margin-top: 3%;
}

#ilogo img
{
	width: 100%;
}

#imensaje1, #imensaje2, #imensaje3, #imensaje4, #imensaje5 /*Estilos para los mensajes entre secciones*/
{
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
	height: 300px;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#imensaje1
{
	background: url(../img/computer_0024.jpg) no-repeat center center;
	background-attachment: fixed;
}

#imensaje1 p /*Este es el estilo para el fondo del mensaje*/
{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	display: inline-block;
	font-size: 50px;
	margin-left: 7%;
	margin-top: 7%;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .5em;
	text-align: center;	
}

#imensaje2
{
	background-image: url(../img/computer_0003.jpg);
	background: url(../img/computer_0003.jpg) no-repeat center center;
	background-attachment: fixed;	
}

#imensaje2 p /*Este es el estilo para el fondo del mensaje*/
{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	display: inline-block;
	font-size: 50px;
	margin-left: 3%;
	margin-top: 7%;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .5em;
	text-align: center;
	width: 90%;
}

#imensaje3
{
	background-image: url(../img/abstract_0006.jpg);
	background: url(../img/abstract_0006.jpg) no-repeat center center;
	background-attachment: fixed;	
	height: 300px;
}

#imensaje3 p /*Este es el estilo para el fondo del mensaje*/
{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	display: inline-block;
	font-size: 50px;
	margin-left: 3%;
	margin-top: 7%;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .5em;
	text-align: center;
	width: 90%;	
}

#imensaje4
{
	backgroundound-image: url(../img/imagens4.jpg);
	background: url(../img/imagens4.jpg) no-repeat center center;
	background-attachment: fixed;	
	height: 300px;
}

#imensaje4 p
{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	display: inline-block;
	font-size: 50px;
	margin-left: 3%;
	margin-top: 7%;
	padding-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .5em;
	text-align: center;
	width: 90%;	
}

#imensaje5
{
	background-image: url(../img/twitter.jpg);
	background: url(../img/twitter.jpg) no-repeat center center;
	background-attachment: fixed;	
	height: 400px;
}

#itexto/*Se modifico de nuevo para alinear el texto con el simbolo*/
{
	display: block;
	margin-top: -36%;
	margin-left: 74.5%;
	text-align: center;
	width: 20%;
}

#itexto blockquote /*Estilo para el texto en la sección Quienes Somos*/
{
	background-color: rgba(0,0,0,0.8);
	border-radius: 1em;
	color: #FFF;
	display: inline-block;
	font-size: 20px;
	padding-bottom: .1em;
	padding-left: .1em;
	padding-right: .1em;
	padding-top: .1em;
	text-align: center;
}

#link1
{
	margin-left: 19%;
}

#lineav
{
	margin-top: -8em;
}

#mapa 
{
	display: inline-block;
	height: 80%;
	margin: 1% auto 0 auto;
	width: 50%;
}
/*Estilos para la misión, visión y valores de la sección Quienes Somos*/

#mision
{
	display: inline-block;
	margin-left: 2%;
	margin-top: -7em;
	text-align: justify;
	width: 60%;

}

#mision h2
{
	font-family: 'Merriweather';
	font-size: 40px;
}

#mision hr
{
	margin-top: 2%;
	margin-bottom: 5%;
	width: 100%;
}

#mision p
{
	font-family: 'Merriweather';
	font-size: 25px;
}

/*Fin de los estilos de misión*/

#menuParallax
{
	background:#000000;
	bottom: 90%;
	position: fixed;
	visibility: hidden;
	width: 100%;
	z-index: 10;
}

#proxvideos
{
	background: #FFFFFF;
	display: inline-block;
	margin-left: 5%;
	margin-top: 16%;
	min-height: 79%;
}

/*Aqui se le quito el background y el border,
tambien se cambio el valor del width*/
#qsomos
{
	border-radius: 1em;
	display: inline-block;
	font-family: 'Merriweather';
	font-size: 20px;
	-ms-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-boxsizing:border-box;
	box-sizing:border-box;
	padding-top: 3%;
	width: 100%;						/*aqui cambie el valor del tamaño del contenedor*/
}

#redess/*Estilos para las redes sociales en la sección contacto*/
{
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	display: inline-block;
	font-size: 40px;
	margin-left: 60%;
	margin-right: 3%;
	margin-top: 0%;
	padding-bottom:2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	text-align: left;
}

#sc
{
	font-size: 40px;
	text-align: center;
}

#seccion1
{
	background: url(../img/fondo.jpg);
	text-align: center;
}

#seccion1 h1
{
	color: #FFFFFF;
	font-size: 200px;
	padding-top: 3%;
}

#seccion1 h3
{
	color: #FFFFFF;
}

#seccion1 p
{
	color: #FFFFFF;
	font-size: 70px;
}

#seccion2
{
	background: white;
	color: #000;
	display: inline-block;
	height: 120%;
}
 
/*Se agrego este pedazo de codigo*/
#seccion2 h1 
{
	font-size: 4em;
	line-height: 2em;
}

#seccion3
{
	background: #FFF;
	color: #000;
	font-family: 'Merriweather';
	font-size: 1em;
	-ms-sizing:border-box;/*Reduce el tamaño de los contenedores, considera el ancho especifico*/
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-boxsizing:border-box;
	box-sizing:border-box;
	height: 125%;
	vertical-align: middle;
	width: 100%;
}

#seccion3 h1
{
	font-size: 2em;
}

#seccion3 h2
{
	font-size: 1.5em;
	text-align: center;
}

#seccion3 p 
{
	margin-top: 1.5em;
}

#seccion3 hr
{
	border: .1em solid #000;
	margin-top: 1em;
}

#scontenido
{
	
	bottom: 25%;
	display: inline-block;
	padding-left: 4em;
	position: relative;
	text-align: justify;
	width: 60%;
}

#scontenido ul
{
	list-style: none;
}

#scontenido1, #scontenido2, #scontenido3, #scontenido4, #scontenido5, #scontenido6, #scontenido7
{
	display: none;
	width: 100%;
}

#scontenido5 h2, #scontenido6 h2
{
	font-size: 1em;
}

#scontenido6in1, #scontenido6in2
{
	display: inline-block;
	width: 48%;
}

#scontenido6in2
{
	vertical-align: top;
}

#seccion3 h1
{
	font-family: 'Merriweather';
}

/*Aqui se le cambio el background por un degradado*/

#seccion5
{
	height: 100%;
}

#seccion5 h1
{
	display: block;
	font-size: 70px;
	margin: 0 auto;
	padding-top: 5%;
	text-align: center;
}

#seccion6
{
	background: url(../img/computer_0011.jpg);
	height: 109%;
}

#seccion6 h3
{
	position: absolute;
	margin-top: 4%;
	margin-left: 23%;
	color:#FFFFFF;
}

#seccion7
{
	display: none;
}

#servicio article
{
	display: inline-block;
}

#smenu
{
	display: inline-block;
	font-size: 1.2em;
	margin-left: 2em;
	margin-top: 2.5em;
	width: 30%;
}

#smenu li
{
	background-color: rgba(0,0,0,0.8);
	border-radius: 1em;
	box-shadow: 5px 5px 10px #000;
	color: #FFF;
	cursor: pointer;
	padding-bottom: 1em;
	padding-left: .1em;
	padding-right: .1em;
	padding-top: 1em;
	text-align: center;
	list-style: none;
	margin-top: 1.7em;
}

#socios
{
	border-right: solid 5px gray;
	display: inline-block;
	margin-top: 7%;
	height: 86%;
	width: 49%;
	z-index: 10%;
}

#socios article
{
	margin-top: 2em;
}

#socios h1
{
	font-family: 'Merriweather';
	font-size: 30px;
	margin-left: 9%;
	margin-top: 1.5%;
	margin-bottom: 2%;
}

#subtitulo
{
	color: #FAEBD7;
	display: inline-block;
	font-size: 50px;
	line-height: 0;
}

#titulo1
{
	font-family: 'Merriweather', serif;
	display: inline-block;
}

#titulo2
{
	margin-top: 0;
	display: inline-block;
}

#titulo
{
	color: #FAEBD7;
	font-size: 200px;
	padding: 9%;
	padding-bottom: 0;
}

/*Aqui se le quito el background, border, margin-left y min-height
tambien se le agregaron los atributos: position, right y margin-left
y finalmente se cambio el valor del width*/
#twitter
{
	border-radius: 1em;
	display: inline-block;
	margin-top: 15%;	
	-ms-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-boxsizing:border-box;
	box-sizing:border-box;
	position: absolute;
	right: 3%;
	width: 30%;
}

/*Aqui se le quito los atributos background y border,
y se le cambio el valor del width*/
#tweet
{
	color: #FFF;
	font-size: .8em;
}

#video
{
	
	border-radius: 1em;
	display: inline-block;
	margin-left: 5%;
	height: 100%;
	text-align: center;
	width: 50%;
}

/*CLASES DE SECCION DE COLABORADORES*/

.artd 
{
	display: inline-block;
	margin-left: 16%;
	margin-top: 1%;
	vertical-align: top;
	width: 13%;
}

.artd img 
{
	width: 100%;
}

.bh img 
{
	display: block;
	margin: 0 auto;
	margin-top: 2%;
	width: 20%;
}

.inelec 
{
	display: inline-block;
	margin-left: 38%;
	margin-top: 5%;
	vertical-align: middle;
	width: 20%;
}

.inelec img
{
	width: 100%;
}

.it 
{
	display: inline-block;
	margin-left: 38%;
	margin-top: 8%;
	vertical-align: middle;
	width: 12%;
}

.it img 
{
	width: 100%;
}

.logos 
{
	display: inline-block;
	margin-left: 13%;
	margin-top: 8%;
	vertical-align: middle;
	width: 20%
}

.logos img 
{
	width: 100%;
}

/*CLASES DE PAGINA*/
.cambio
{
	-ms-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.menu 
{
	color: #000;
	position: relative;
	background: #ffffff;
	border: 1px solid #c2e1f5;
	width: .1em;
}

.menu:after, #menu:before 
{
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.menu:after
{
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 12px;
	left: 50%;
	margin-left: -12px;
}

.menu:before 
{
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 12px;
	left: 50%;
	margin-left: -12px;
}

.cmenu
{
	margin-left: -8%;
}

.cmenu li
{
	display: inline-block;
	font-size: 27px;
	margin-right: -1%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 8%;
	padding-bottom: 1.5%;
	width: -100%;
}

.correo
{
	font-size: 13px;
}

.curso
{
	height: 85%;
	margin-left: 10%;
	min-width: 20%;
	padding-top: 6%;
}

.cvalores
{
	margin-left: 5%;
	font-size: 25px;
}

/*Esta clase se modifico para poner el logo de Facebook*/
.facebook
{
  margin-top: 1%;
  width: 12%;
  height: 8%;
  vertical-align: middle;
}

.equipo
{
	display: inline-block;
	height: 300px;
	margin-top: 3%;
	padding-left: 10%;
	width: 180px;
}

.equipo img
{
	/*border: solid black 1px;*/
	display: block;
	height: 200px;
	width: 150px;
	margin: 0 auto;
}

.equipo p
{

	font-family: "Merriweather";
	margin-top: 10%;
	text-align: center;
}

.chrome
{
	position: absolute;
	display: inline-block;
	margin-top: 0%;
	margin-left: -8%;
	max-width: 100%;
	height: 50px;
	width: 50px;
}

.firefox
{
	position: absolute;
	display: inline-block;
	margin-top: .3%;
	margin-left: -4%;
	max-width: 100%;
	height: 50px;
	width: 50px;
}

.opera
{
	position: absolute;
	display: inline-block;
	margin-top: 0%;
	margin-left: 4%;
	max-width: 100%;
	height: 50px;
	width: 50px;
}

/*Esta clase se modifico para poner el logo de Twitter*/
.rol
{
	font-family: 'Merriweather';
	font-size: 15px;
	font-style: italic;
	line-height: 0;
}

.safari
{
	position: absolute;
	display: inline-block;
	margin-top: 0%;
	margin-left: 0%;
	max-width: 100%;
	height: 50px;
	width: 50px;
}

.twitter
{
  height: 9%;
  margin-top:3%;
  vertical-align: middle;
  width: 12%;
}

/*Esta clase se modifico para poner el logo de Youtube*/
.youtube
{
  height: 9%;
  margin-top: 2%;
  vertical-align: middle;
  width: 13%;
}

@media screen and (max-width: 1280px) and (max-height: 800px)
{
	footer section
	{
		margin-top: 10%;
	}

	#contacto1
	{
		margin-top: -1%;
	}
	
	#flecha
	{
		position: absolute;
		margin-left: -5%;
	}

	#imensaje5
	{
		height: 40%;
	}
	#seccion1 h1
	{
		padding-top: 10%;
	}

	#seccion2
	{
		height: 100%;
	}

	#seccion3
	{
		height: 98%;	
	}

	#seccion5 
	{
		height: 85%;
	}

	#seccion5 h1
	{
		padding-top: 8%;
	}

	#seccion6
	{
		height: 90%;
	}

	.chrome
	{
		margin-left: -8.5%;
	}

	.firefox
	{
		margin-left: -4%;
	}

	.inelec
	{
		margin-top: 5%;
	}

	.opera
	{
		margin-left: 5%;
	}
	.safari
	{
		margin-left: .5%;
	}

}

@media screen and (max-width: 1280px) and (max-height: 700px)
{
	footer section
	{
		margin-top: 5%;
	}

	#contacto1
	{
		margin-top: 5%;
	}

	#mision
	{
		margin-top: -11%;
	}

	#seccion1 h1
	{
		padding-top: 6%;
	}

	#seccion2
	{
		height: 110%;
	}

	#seccion3
	{
		min-height: 107%;
	}

	#seccion5
	{
		min-height: 85%;
	}

	#seccion5 h1
	{
		padding-top: 5%;
	}

	#seccion6
	{
		height: 105%;
	}
}

@media screen and (max-width: 1280px) and (max-height: 680px) {
	
	footer section
	{
		margin-top: 9%;
	}

	#flecha
	{
		margin-top: 7%;
	}

	#seccion2
	{
		height: 115%;
	}

	#seccion3
	{
		height: 110%;
	}

	#seccion6
	{
		height: 115%;
	}
}

@media screen and (max-width: 1200px) {
	footer section
	{
		margin-top: 3.5%;
	
	}

	#flecha
	{
		margin-top: 7%;
	}

	#seccion1
	{
		height: 100%;
	}

	#seccion1 h1
	{
		padding-top: 5%;
	}

	#seccion3
	{
		height: 92%;
	}

	#seccion6
	{
		height: 100%;
	}

}

@media screen and (max-width: 1024px) {
	footer
	{
		margin-top: 3%;
	}

	#academia
	{
		font-size: 2em;
	}

	#bh
	{
		margin-left: 10%;
	}

	#contacto1
	{
		font-size: 60px;
		margin-top: 5%;
	}

	#contacto2
	{
		font-size: 70px;
		margin-left: 10%;
		margin-top: 6%;
	}


	#flecha
	{
		position: static;
		margin-top: 14%;
		margin-left: 0%;
	}

	#link1
	{
		margin-left: 10%;
	}

	#ilogo 
	{
		width: 30%;
	}

	#imensaje1 p
	{
		font-size: 40px;
		margin-left: 3%;
		margin-top: 10%;	
	}

	#imensaje3 p
	{
		font-size: 40px; 
		margin-top: 9%;
	}

	#imensaje4 p
	{
		font-size: 40px;
		margin-top: 8%;
	}

	#ilogo
	{
		margin-top: 4%;
	}

	#itexto
	{
		margin-left: 73%;
		margin-top: -38%;
	}

	#mision
	{
		margin-top: -9%;
	}

	#mision h2
	{
		font-size: 25px;
	}

	#mision p
	{
		font-size: 20px;
	}

	#sc
	{
		font-size: 35px;
	}

	#seccion1 h1
	{
		padding-top: 2%;
	}

	#seccion3
	{
		height: 80%;
	}

	#seccion5 h1 {
		font-size: 50px;
		padding-top: 7%;
	}

	#seccion6
	{
		height: 110%;
	}

	#socios
	{
		width: 50%;
	}

	#socios h1
	{
		margin-top: 4%;	
		text-align: center;
	}

	.equipo
	{
		padding-bottom: 5%;
		padding-left: 8%;
	}

	.chrome
	{
		margin-left: -10%;
	}

	.cvalores li
	{
		font-size: 20px;
	}

	.firefox
	{
		margin-left: -4.5%;
	}

	.opera
	{
		margin-left: 6%;
	}
	.safari
	{
		margin-left: .5%;
	}
}

@media screen and (max-width: 768px) {
	footer section
	{
		margin-top: 39%;
	}

	#bh
	{
		margin-left: -65%;
		margin-top: 75%;
		position: absolute;
		width: 40%;
	}

	#contacto1
	{
		margin-top: 10%;
	}

	#contacto2
	{
		font-size: 50px;
	}

	#enlace1, #enlace2, #enlace3, #enlace4, #enlace5, #enlace6
	{
		font-size: 20px;
	}

	#ilogo
	{
		display: inline-block;
		margin-top: 20%;
	}

	#imensaje2
	{
		height: 250px;
	}

	#imensaje2 p
	{
		font-size: 40px;
		margin-left: 2%;
		margin-top: 10%;
	}

	#imensaje4
	{
		height: 250px;
	}

	#itexto
	{
		margin-left: 71%;
		margin-top: -55%;
	}

	#link1
	{
		margin-right:0%;
	}

	#mision
	{
		margin-top: -10%;
		z-index: 10%;
	}

	#mision h2
	{
		font-size: 23px;
	}

	#mision p
	{
		font-size: 20px;
	}

	#redess
	{
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 2%;
	}

	#seccion1 h1
	{
		font-size: 170px;
		padding-top: 20%;
	}

	#seccion2
	{
		height: 75%;
	}

	#seccion3
	{
		height: 45%;
	}

	#seccion5
	{
		height: 45%;
	}
	
	#seccion5 h1 {
		font-size: 50px;
		padding-top: 15%;
	}

	#seccion6
	{
		height: 90%;
	}

	#socios
	{
		border-bottom: solid 5px gray;
		border-right: none;
		height: 35%;
		margin-left: 2%;
		width: 96%;
	}

	.chrome
	{
		margin-left: -13%;
	}

	.firefox
	{
		margin-left: -6%;
	}

	.opera
	{
		margin-left: 7%;
	}
	.safari
	{
		margin-left: .5%;
	}
}