/*! http://responsiveslides.com v1.53 by @viljamis */

iframe {
  border: 0;
  margin-top: 4.5%;
  height: 100%;
}

ul {
  border: 0;
  height: 90%;
}

.contenedor_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 540%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.contenedor_nav:active {
  opacity: 1.0;
  }

.contenedor_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides iframe {
  width: 100%;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
