.container {
	top: 8%;
	padding-top: 57.5%;
	position: relative;
}

#sg-panel-container {
	display: none;
}

#panel-container {
	display: none;
}

.sg-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 40px;
	background: #000;
	list-style: none;
	margin: 0;
	padding: 0;
}
.sg-wrapper > div {
	position: absolute;
	overflow: hidden;
	z-index: 5;
}
.sg-panel {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.sg-panel h2 {
	color: #fff;
	font-weight: 500;
	font-size: 10em;
	margin: 0 10px;
	padding: 0;
	position: relative;
	text-transform: uppercase;
	text-shadow: 0 0 10px #000, 10px 10px 10px rgba(0,0,0,0.0);
	top: 5%;
}
.sg-panel > div {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}
.sg-box-1 h2,
.sg-box-2 h2 {
	bottom: 0px;
}
.sg-box-1 h2,
.sg-box-3 h2 {
	right: 0;
}
.sg-box-1,
.sg-box-2{
	top: 0%;
}
.sg-box-1,
.sg-box-3 {
	left: 0%;
}
.sg-wrapper > div.sg-line-hor,
.sg-wrapper > div.sg-line-ver {
	background: #fff;
	position: absolute;
	z-index: 5;
}
.sg-wrapper > div.sg-line-hor {
	width: 100%;
	height: 1px;
	left: 0;
}
.sg-wrapper > div.sg-line-ver {
	width: 1px;
	height: 100%;
	top: 0;
}
.sg-nav {
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0;
	bottom: -40px;
	height: 40px;
	background: #000;
	z-index: 8;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	box-shadow: 0 -2px 0 3px #000, 0 -3px 2px 3px rgba(0, 0, 0, 0.3);
}
.sg-nav span{
	display: inline-block;
	position: relative;
	cursor: pointer;
	z-index: 2000;
	width: 11px;
	height: 11px;
	background: #555;
	margin: 10px 5px;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 0.8;
}
.sg-nav span.sg-prev,
.sg-nav span.sg-next {
	width: 20px;
	height: 20px;
	margin: 10px 5px 6px 5px;
	background: transparent url(../images/arrows.png) no-repeat;
}
.sg-nav span.sg-prev {
	background-position: 5px 50%;
}
.sg-nav span.sg-next {
	background-position: -24px 50%;
}
.sg-nav span.sg-prev:hover,
.sg-nav span.sg-next:hover,
.sg-nav span.sg-dot:hover{
	opacity: 1;
}

.sg-nav span.sg-dot-current{
	background: #fff;
	opacity: 1;
}
.sg-loading {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
	opacity: 0.9;
	background: transparent url(../images/loader.gif) no-repeat center center;
}

.sg-content {
	padding: 25px;
	width: 100%;
	height: 100%;
	overflow: auto;
	position: relative;
	z-index: 90000;
}

.sg-columns {
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-moz-column-rule: none;
	-moz-column-width: 50%;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	-webkit-column-rule: none;
	-webkit-column-width: 50%;
	column-count: 2;
	column-gap: 30px;
	column-rule: none;
	column-width: 50%;
}

.sg-content h3{
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 1px 0;
	color: #fff;
	font-size: 25px;
	border-bottom: 1px dotted rgba(255,255,255,0.7);
}

.sg-content h4{
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0 0 0px 0;
	color: #fff;
	font-size: 50px;
}

.sg-content h5{
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 0px 0;
	color: #fff;
	font-size: 20px;
}

.sg-content p {
	font-weight: 500;
	line-height: 10px;
	font-size: 16px;
	color: #fff;
	text-align: justify;
}

@media screen and (max-width: 770px) {
	.sg-panel h2 {
		font-size: 34px;
	}
	.sg-columns {
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-moz-column-rule: none;
		-moz-column-width: auto;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		-webkit-column-rule: none;
		-webkit-column-width: auto;
		column-count: 1;
		column-gap: 0px;
		column-rule: none;
		column-width: auto;
	}
}

@media screen and (max-width: 770px) {
	.sg-panel h2, .sg-content h3{
		font-size: 20px;
		top: 9%;
	}
}
