/*Tipografias añadidas*/
@import url(http://fonts.googleapis.com/css?family=Merriweather);

@font-face
{
	font-family: 'Merriweather';
}	

*
{
	border: 0;
	margin: 0;
	padding: 0;
}

#acerca 
{
	font-size: 12px;
	text-align: center;
}

#acerca hr
{
	border: .1em solid #000;
	margin: 1.5em 0 1.5em;
}

#acerca ul
{
	list-style: none;
}


#contacto
{
	background: url(../img/fondocon.jpg);
	color: #FFF;
	text-align: center;
}

#contacto a
{
	color: #FFF;
	text-decoration: none;
}

#contacto1
{
	font-size: 2em;
	text-align: center;
}

#contacto2
{
	font-size: 1.2em;
	text-align: center;
	margin: 2em 0 2em;
}

#contacto3
{
	font-size: 1.7em;
	margin-top: 2em;
}

#dos
{
	display: none;
}

#inicio
{
	background: url(../img/fondo.jpg);
	color: #FFF;
	text-align: center;
	
}

#inicio h1
{
	font-size: 1em;
}

#inicio h2
{
	font-size: 4.2em;
}

#inicioword
{
	margin-top: 5em;
	
}

#inicio h3
{
	font-size: 1.5em;
}

#formu, #formo, #formi, #forme
{

}

#servicios
{
	text-align: center;
}

#serviciosdata
{
	text-align: left;
}

#serviciosdata li
{
	margin-left: 1em;
}

#uno, #dos, #tres, #cuatro
{
	display: none;
}

.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}